
.footer-area{
    background-color: #20842C;
    padding-top: 4rem;
    color:#ffffff99;
  }

  .footer-area a{
    color: #a4cda9;
    text-decoration: none;
  }
  .footer-area a:hover{
    color: #ffffff !important;
  }

  .footer-about-title{
    font-weight: normal;
    margin-bottom: 1.3rem;
  }
  .footer-title{
    color:rgba(255,255,255,0.9);
    margin-bottom: 1rem;
  }

  .footer-bottom{
    margin: 1.5rem 0 1.5rem;
  }

  .footer-menu ul li{
    border-bottom: 1px dashed #8fd597;
    width: 14rem;
  }

  .footer-BackTop i{
    font-size: 2.5rem;
  }

  .footer-social a {
    color: #a4cda9;
    font-size: 1.8rem;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 5px;
    text-align: center;
  }

  .icon-facebook :hover{
    color: #4267b2 !important;
  }

  .icon-linkedin :hover{
    color: #0077B5 !important;
  }

  .icon-google-plus :hover{
    color: #de5246 !important;
  }

.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: rgb(52, 158, 65);
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgb(52, 159, 65);
}
.mr-auto, .mx-auto {
    margin: 0 auto !important;
}

.btn-outline-success{
  color: #389c42 !important;
  border-color: #389c42;
}

.btn-outline-success:hover {
    color: #fff !important;
    background-color: #389c42;
    border-color: #389c42;
}

.view {
  padding-top: 4.5rem;
  min-height: 13.5rem;
  color: #ffffff;
}

main {
  padding-top: 4.5rem;
}

.blackout-header{
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 13.5rem;
  position: absolute;
  top: 4.5rem;
}

.text-float-frente{
  position: relative;
  z-index: 50;
  color: #fff;
}

.text-float-frente h1{
  font-weight: normal;
}

.btn-success {
  color: #fff;
  background-color: #40842e;
  border-color: #40842e;
}
.btn-success:hover {
  color: #fff;
  background-color: #40842e;
  border-color: #a4cda9;
}
.btn-outline-success {
    color: #389c42 !important;;
    border-color: #389c42;
}

.btn-outline-success:hover {
    color: #fff !important;
    background-color: #389c42;
    border-color: #389c42;
}

.page-link{
  color: #40842e;
}

.page-link:hover{
  color: #40842ea3;
}

.page-link:focus{
  -webkit-box-shadow: 0 0 0 0.2rem rgba(64, 132, 46, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(64, 132, 46, 0.25);
}

.rounded-circle-depoimentos{
  height: 13rem !important;
  width: 13rem !important;
}

.carousel-inner-depoimentos {
  height: 29.5rem !important;
}

.carousel-item-depoimentos{
  padding-top: 3rem !important;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .carousel-item-depoimentos{
    padding-top: 2.5rem !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .carousel-item-depoimentos{
    padding-top: 2.5rem !important;
  }

  .rounded-circle-depoimentos{
    height: 10rem !important;
    width: 10rem !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .carousel-item-depoimentos{
    padding-top: 3.5rem !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .carousel-item-depoimentos{
    padding-top: 4rem !important;
  }
}